/* line 1, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
body {
  font-family: 'Museo Sans Cyrl 300';
  letter-spacing: -0.24px;
  position: relative; }

/* line 5, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 30;
  transition: opacity 0.5s ease-out; }
  /* line 11, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  header::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100px;
    transition: all .5s ease-out;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) -59.23%, rgba(0, 0, 0, 0)); }
  /* line 23, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  header .container .header_logo {
    position: absolute;
    z-index: 35;
    display: block;
    left: 46.5%;
    background: url("../img/main_page/logo/logo_turan_white.svg") no-repeat 50%/cover;
    width: 106px;
    height: 54px; }
    /* line 31, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    header .container .header_logo:hover {
      background: url("../img/main_page/logo/logo_turan.svg") no-repeat 50%/cover; }

/* line 33, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
nav {
  padding-top: 86px;
  padding-bottom: 50px;
  color: #fff; }
  /* line 37, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  nav .container {
    padding: 0 15px;
    margin: 0 56.6px; }
    /* line 40, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    nav .container ul {
      display: flex;
      letter-spacing: -0.24px;
      list-style: none; }
      /* line 45, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      nav .container ul li a {
        text-decoration: none;
        color: #fff;
        margin-right: 25px; }
      /* line 49, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      nav .container ul li .main_page {
        z-index: 36;
        opacity: 0.5;
        position: relative; }
        /* line 53, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        nav .container ul li .main_page:hover {
          opacity: 1.0; }
        /* line 55, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        nav .container ul li .main_page::after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          left: 50px;
          top: 8px;
          margin: 0 12px; }

/* line 67, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
.born {
  min-height: 100vh; }
  /* line 69, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .born img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover; }
  /* line 78, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .born_content {
    padding: 113px 107px; }
    /* line 80, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .born_content_title {
      color: #fff;
      font-size: 60px;
      margin-bottom: 30px;
      font-family: 'Montserrat Alternates'; }
    /* line 85, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .born_content_descr {
      margin-bottom: 20px;
      font-size: 16px;
      color: #ffffff; }
    /* line 89, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .born_content_subtitle {
      font-size: 150px;
      font-family: 'Montserrat Alternates';
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke: 1px #fff; }
  /* line 94, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .born_wave {
    background: url(" https://turanwater.com/assets/img/bottom-wave.svg") repeat-x 0 100%/contain;
    position: absolute;
    top: 732px;
    width: 100%;
    height: 18px; }

/* line 100, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
.origin {
  padding: 0 0 80px 0; }
  /* line 102, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .origin .container {
    padding: 0 15px;
    margin: 0 76px; }
  /* line 105, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .origin_title {
    font-family: 'Montserrat Alternates';
    font-size: 66px;
    margin-bottom: 64px;
    color: #002856; }
    /* line 110, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .origin_title span {
      color: #00a0df; }
  /* line 112, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .origin_text {
    max-width: 385px;
    margin-left: auto;
    margin-top: 110px;
    line-height: 29px; }
  /* line 117, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .origin_mountain {
    max-width: 755px;
    height: 395px;
    background: url("https://turanwater.com/assets/img/mount.svg") no-repeat center top 25%/contain;
    margin: -25px auto 0;
    position: relative; }
    /* line 123, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .origin_mountain_depth {
      font-family: 'Museo Sans Cyrl 500';
      display: flex;
      flex-direction: column; }
      /* line 127, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      .origin_mountain_depth span {
        font-size: 50px;
        font-family: 'Montserrat Alternates';
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px #00a0df; }
    /* line 132, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .origin_mountain_temp {
      display: flex;
      flex-direction: column;
      position: absolute;
      font-family: 'Museo Sans Cyrl 500';
      right: 60px;
      bottom: 0;
      margin-left: auto;
      color: #182438; }
      /* line 141, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      .origin_mountain_temp span {
        font-size: 50px;
        font-family: 'Montserrat Alternates';
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px #00a0df; }

/* line 147, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
.prepare {
  background: url("../img/about_page/tamshy_bg.jpg") no-repeat 50%/cover;
  padding: 150px 0;
  position: relative; }
  /* line 151, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .prepare .container {
    margin: 0 56.6px;
    padding: 0 15px; }
  /* line 154, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .prepare .row {
    display: flex; }
  /* line 156, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .prepare_wrap {
    margin-left: 30px; }
    /* line 158, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .prepare_wrap_title {
      margin-top: 50px;
      max-width: 410px;
      margin-bottom: 32px;
      color: #fff;
      font-size: 60px;
      font-family: 'Montserrat Alternates'; }
    /* line 165, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .prepare_wrap_descr {
      line-height: 29px;
      max-width: 410px;
      color: #fff; }
  /* line 169, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .prepare_picture {
    margin-left: 380px; }

/* line 172, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
.ozon {
  padding: 110px 30px;
  position: relative; }
  /* line 175, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .ozon .container {
    margin: 0 56.6px;
    padding: 0 15px; }
  /* line 178, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .ozon_row {
    display: flex; }
  /* line 181, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .ozon_turan_img img {
    padding: 0 15px;
    max-width: 400px;
    object-fit: contain; }
  /* line 185, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .ozon_wrap {
    margin-left: 114px; }
    /* line 187, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .ozon_wrap_title {
      font-family: 'Montserrat Alternates';
      color: #002856;
      font-size: 60px;
      margin-bottom: 34px; }
    /* line 192, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .ozon_wrap_descr {
      max-width: 600px;
      line-height: 29px;
      color: #182438;
      margin-bottom: 95px; }
    /* line 197, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .ozon_wrap_img {
      width: 100%;
      max-width: 280px; }

/* line 200, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
.bottling {
  padding: 40px 0; }
  /* line 202, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .bottling .container {
    padding: 0 115px; }
  /* line 204, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .bottling .row {
    width: 1310px;
    display: flex; }
  /* line 207, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .bottling_title {
    width: 25%;
    margin-right: 25px;
    font-family: 'Montserrat Alternates';
    color: #002856;
    line-height: 19.2px;
    font-size: 60px; }
  /* line 214, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .bottling_wrap {
    width: 75%; }
    /* line 216, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .bottling_wrap_descr {
      max-width: 560px;
      color: #182438;
      margin-bottom: 55px; }
    /* line 220, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .bottling_wrap_hour {
      font-size: 50px;
      -webkit-text-stroke: 1px #00a0df;
      font-family: 'Montserrat Alternates';
      color: rgba(0, 0, 0, 0);
      line-height: 28px; }

/* line 226, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
.control {
  margin-top: 50px;
  padding: 165px 0;
  background: url(../img/about_page/double_control_bg.jpg) no-repeat 50%/cover; }
  /* line 230, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .control .container {
    padding: 0 100px; }
  /* line 232, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .control .row {
    display: flex;
    width: 1310px;
    color: #fff; }
  /* line 236, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .control_right {
    padding: 0 15px;
    width: 50%; }
    /* line 239, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .control_right_title {
      margin-bottom: 34px;
      font-size: 60px;
      font-family: 'Montserrat Alternates'; }
    /* line 243, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .control_right_descr {
      line-height: 29px;
      max-width: 460px; }
  /* line 246, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
  .control_left {
    padding: 0 15px;
    width: 50%; }
    /* line 249, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .control_left_title {
      margin-bottom: 34px;
      font-size: 60px;
      font-family: 'Montserrat Alternates';
      margin-left: 35px; }
    /* line 254, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
    .control_left_calendar {
      line-height: 20px; }
      /* line 256, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      .control_left_calendar li {
        list-style: none;
        padding-left: 60px;
        margin-bottom: 30px; }
        /* line 260, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        .control_left_calendar li p {
          max-width: 480px; }
      /* line 262, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      .control_left_calendar_first {
        position: relative; }
        /* line 264, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        .control_left_calendar_first_title {
          text-transform: uppercase;
          font-family: 'Museo Sans Cyrl 500';
          margin-bottom: 5px; }
        /* line 268, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        .control_left_calendar_first_days {
          position: absolute;
          background: url("https://turanwater.com/assets/img/calendar.svg") no-repeat 50%/contain;
          align-items: center;
          display: flex;
          justify-content: center;
          font-size: 16px;
          width: 39px;
          height: 35px;
          padding-top: 8px;
          left: 0;
          top: -13px; }
      /* line 280, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      .control_left_calendar_second {
        position: relative; }
        /* line 282, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        .control_left_calendar_second_title {
          text-transform: uppercase;
          font-family: 'Museo Sans Cyrl 500';
          margin-bottom: 5px; }
        /* line 286, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        .control_left_calendar_second_days {
          position: absolute;
          background: url("https://turanwater.com/assets/img/calendar.svg") no-repeat 50%/contain;
          align-items: center;
          display: flex;
          justify-content: center;
          font-size: 16px;
          width: 39px;
          height: 35px;
          padding-top: 8px;
          left: 0;
          top: -13px; }
      /* line 298, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
      .control_left_calendar_third {
        position: relative; }
        /* line 300, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        .control_left_calendar_third_title {
          text-transform: uppercase;
          font-family: 'Museo Sans Cyrl 500';
          margin-bottom: 5px; }
        /* line 304, ../Users/Bakdaulet/Desktop/finalprojectWeb/sass/about_turan.sass */
        .control_left_calendar_third_days {
          position: absolute;
          background: url("https://turanwater.com/assets/img/calendar.svg") no-repeat 50%/contain;
          align-items: center;
          display: flex;
          justify-content: center;
          font-size: 16px;
          width: 39px;
          height: 35px;
          padding-top: 8px;
          left: 0;
          top: -13px; }

/*# sourceMappingURL=about_turan.css.map */