body {
  font-family: 'Museo Sans Cyrl 300';
  letter-spacing: -0.24px;
  line-height: 20px;
  position: relative;
  color: #182438;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 30;
  transition: opacity 0.5s ease-out;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  transition: all .5s ease-out;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) -59.23%, rgba(0, 0, 0, 0));
}

header .container .header_logo {
  position: absolute;
  z-index: 35;
  display: block;
  left: 46.5%;
  background: url("../img/main_page/logo/logo_turan_white.svg") no-repeat 50%/cover;
  width: 106px;
  height: 54px;
}

header .container .header_logo:hover {
  background: url("../img/main_page/logo/logo_turan.svg") no-repeat 50%/cover;
}

nav {
  padding-top: 92px;
  padding-bottom: 20px;
}

nav .container {
  padding: 0 15px;
  margin: 0 56.6px;
}

nav .container ul {
  display: flex;
  letter-spacing: -0.24px;
  list-style: none;
}

nav .container ul li a {
  text-decoration: none;
  margin-right: 25px;
  font-size: 14px;
  color: #002856;
}

nav .container ul li .main_page {
  z-index: 36;
  opacity: 0.5;
  position: relative;
}

nav .container ul li .main_page:hover {
  opacity: 1.0;
}

nav .container ul li .main_page::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #002856;
  position: absolute;
  left: 47px;
  top: 7px;
  margin: 0 12px;
}

.head {
  margin-top: -30px;
  padding-bottom: 45px;
  border-bottom: 1px solid #dff1fd;
}

.head .container {
  padding: 0 110px;
}

.head_wrap {
  display: flex;
  width: 1280px;
}

.head_wrap_big {
  flex: 0 0 60%;
  padding-right: 30px;
}

.head_wrap_big_title {
  padding-bottom: 50px;
  font-size: 60px;
  color: #002856;
  line-height: 70px;
  font-family: 'Montserrat Alternates';
}

.head_wrap_small {
  flex: 0 0 40%;
}

.head_wrap_small p {
  line-height: 32px;
  color: #002856;
}

.content {
  padding-top: 70px;
}

.content .container {
  padding-left: 105px;
  padding-right: 105px;
}

.content .row {
  display: flex;
  flex-wrap: wrap;
  width: 1310px;
}

.content_first {
  display: flex;
}

.content_first div {
  padding: 0 15px;
}

.content_first_1 {
  width: 297.5px;
}

.content_first_1 img {
  width: 100%;
  height: 280px;
}

.content_first_2 {
  width: 625px;
}

.content_first_2 img {
  width: 100%;
  height: 380px;
}

.content_first_3 {
  width: 297.5px;
}

.content_first_3 img {
  width: 100%;
  height: 280px;
}

.content_second {
  display: flex;
}

.content_second div {
  padding: 0 15px;
}

.content_second_1 {
  width: 297.5px;
}

.content_second_1 img {
  width: 100%;
}

.content_second_2 {
  width: 297.5px;
}

.content_second_2 img {
  width: 100%;
}

.content_second_3 {
  width: 297.5px;
}

.content_second_3 img {
  width: 100%;
}

.content_second_4 {
  width: 297.5px;
}

.content_second_4 img {
  width: 100%;
}
