body {
  font-family: 'Museo Sans Cyrl 300';
  letter-spacing: -0.24px;
  position: relative;
  color: #182438;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 30;
  transition: opacity 0.5s ease-out;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  transition: all .5s ease-out;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) -59.23%, rgba(0, 0, 0, 0));
}

header .container .header_logo {
  position: absolute;
  z-index: 35;
  display: block;
  left: 46.5%;
  background: url("../img/main_page/logo/logo_turan_white.svg") no-repeat 50%/cover;
  width: 106px;
  height: 54px;
}

header .container .header_logo:hover {
  background: url("../img/main_page/logo/logo_turan.svg") no-repeat 50%/cover;
}

nav {
  padding-top: 86px;
  padding-bottom: 50px;
  color: #fff;
}

nav .container {
  padding: 0 15px;
  margin: 0 56.6px;
}

nav .container ul {
  display: flex;
  letter-spacing: -0.24px;
  list-style: none;
}

nav .container ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 25px;
}

nav .container ul li .main_page {
  z-index: 36;
  opacity: 0.5;
  position: relative;
}

nav .container ul li .main_page:hover {
  opacity: 1.0;
}

nav .container ul li .main_page::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50px;
  top: 8px;
  margin: 0 12px;
}

.choose {
  min-height: 100vh;
}

.choose img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.choose .container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 110px;
}

.choose_content {
  margin-top: 150px;
  max-width: 600px;
  color: #fff;
  font-size: 60px;
  margin-bottom: 30px;
  font-family: 'Montserrat Alternates';
}

.choose_wave {
  background: url(" https://turanwater.com/assets/img/bottom-wave.svg") repeat-x 0 100%/contain;
  position: absolute;
  top: 732px;
  width: 100%;
  height: 18px;
}

.types {
  margin-top: -310px;
  padding: 30px 0 40px;
  position: relative;
}

.types .container {
  padding: 0 90px;
}

.types_numeric_title {
  padding-left: 126px;
  margin-bottom: 75px;
  display: flex;
}

.types_numeric_title_second {
  margin-left: 100px;
}

.types_numeric_title span {
  border: 1px solid #00a0df;
  -webkit-text-stroke: 1px #00a0df;
  width: 206px;
  height: 206px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 86px;
  align-items: center;
  font-family: 'Montserrat Alternates';
  color: rgba(0, 0, 0, 0);
}

.types_numeric_title h2 {
  margin-bottom: 37px;
  font-size: 55px;
  color: #002856;
  font-family: 'Montserrat Alternates';
}

.types .row {
  display: flex;
  width: 1310px;
}

.types .row img {
  width: 60px;
  height: 83px;
  object-fit: contain;
  margin-bottom: 26px;
}

.types .row h3 {
  font-size: 24px;
  color: #182438;
  line-height: 30px;
  margin-bottom: 23px;
  font-family: 'Montserrat Alternates';
}

.types .row p {
  max-width: 295px;
  line-height: 35px;
}

.types_artificially {
  padding: 0 15px;
  width: 406px;
}

.types_artificially div {
  height: 270px;
  border: 1px solid #dff1fd;
  margin-bottom: 50px;
  padding: 34px;
}

.types_blended {
  padding: 0 15px;
  width: 406px;
}

.types_blended div {
  height: 270px;
  border: 1px solid #dff1fd;
  margin-bottom: 50px;
  padding: 34px;
}

.types_processed {
  padding: 0 15px;
  width: 406px;
}

.types_processed div {
  height: 270px;
  border: 1px solid #dff1fd;
  margin-bottom: 50px;
  padding: 34px;
}

.types .row_2 {
  display: flex;
  width: 1220px;
}

.types_natural {
  padding: 0 15px;
  width: 380px;
}

.types_natural div {
  height: 270px;
  border: 1px solid #dff1fd;
  margin-bottom: 50px;
  padding: 34px;
}

.types_natural div img {
  width: 60px;
  height: 83px;
  object-fit: contain;
  margin-bottom: 26px;
}

.types_natural div h3 {
  font-size: 24px;
  color: #182438;
  line-height: 30px;
  margin-bottom: 23px;
  font-family: 'Montserrat Alternates';
}

.types_natural div p {
  max-width: 295px;
  line-height: 35px;
}

.types_title {
  margin-top: 30px;
  max-width: 600px;
  font-size: 66px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 64px;
  padding-left: 65px;
  color: #002856;
  font-family: 'Montserrat Alternates';
}

.composition {
  padding-top: 112px;
  padding-bottom: 56px;
  position: relative;
}

.composition .container {
  padding: 0 80px;
}

.composition_img {
  position: absolute;
  right: 100px;
  top: 230px;
  width: 285px;
}

.composition_wrap_content {
  padding-left: 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.composition_wrap_content_title {
  margin-left: -20px;
  font-size: 150px;
  margin-bottom: 48px;
  -webkit-text-stroke: 1px #00a0df;
  font-family: 'Montserrat Alternates';
  color: rgba(0, 0, 0, 0);
}

.composition_wrap_content_descr {
  margin-right: 40px;
  max-width: 365px;
  line-height: 28px;
}

.composition_wrap_content_descr p {
  margin-bottom: 32px;
  color: #182438;
}

.composition_wrap_content_elements {
  width: 350px;
  margin: 0 auto 0 40px;
  height: 329px;
}

.composition_wrap_content_elements_m1 {
  margin: 0;
  width: 92px;
  height: 92px;
  margin-bottom: 24px;
}

.composition_wrap_content_elements_m1_text {
  display: none;
}

.composition_wrap_content_elements_m1_icon {
  width: 100%;
  height: 100%;
  border: 1px solid #dff1fd;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 19.2px;
}

.composition_wrap_content_elements_m1_icon:hover {
  border: 1px solid #00a0df;
}

.composition_wrap_content_elements_m1_icon_name {
  margin-top: 25px;
  font-size: 24px;
  font-family: 'Museo Sans Cyrl 500';
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.composition_wrap_content_elements_m1_icon_subname {
  text-align: center;
  font-size: 12px;
  font-family: 'Museo Sans Cyrl 300';
}

.composition_wrap_content_elements_m2 {
  width: 92px;
  height: 92px;
  margin: -50px 0 0 auto;
}

.composition_wrap_content_elements_m2_text {
  display: none;
}

.composition_wrap_content_elements_m2_icon {
  width: 100%;
  height: 100%;
  border: 1px solid #dff1fd;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 19.2px;
}

.composition_wrap_content_elements_m2_icon:hover {
  border: 1px solid #00a0df;
}

.composition_wrap_content_elements_m2_icon_name {
  margin-top: 25px;
  font-size: 24px;
  font-family: 'Museo Sans Cyrl 500';
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.composition_wrap_content_elements_m2_icon_subname {
  text-align: center;
  font-size: 12px;
  font-family: 'Museo Sans Cyrl 300';
}

.composition_wrap_content_elements_m3 {
  margin: -30px auto 0 90px;
  width: 112px;
  height: 112px;
}

.composition_wrap_content_elements_m3_text {
  display: none;
}

.composition_wrap_content_elements_m3_icon {
  width: 100%;
  height: 100%;
  border: 1px solid #dff1fd;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 19.2px;
}

.composition_wrap_content_elements_m3_icon:hover {
  border: 1px solid #00a0df;
}

.composition_wrap_content_elements_m3_icon_name {
  margin-top: 35px;
  font-size: 24px;
  font-family: 'Museo Sans Cyrl 500';
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.composition_wrap_content_elements_m3_icon_subname {
  text-align: center;
  font-size: 12px;
  font-family: 'Museo Sans Cyrl 300';
}

.composition_wrap_content_elements_m4 {
  width: 94px;
  height: 94px;
  margin-bottom: 0;
  margin-right: auto;
}

.composition_wrap_content_elements_m4_text {
  display: none;
}

.composition_wrap_content_elements_m4_icon {
  width: 100%;
  height: 100%;
  border: 1px solid #dff1fd;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 19.2px;
}

.composition_wrap_content_elements_m4_icon:hover {
  border: 1px solid #00a0df;
}

.composition_wrap_content_elements_m4_icon_name {
  margin-top: 29px;
  font-size: 24px;
  font-family: 'Museo Sans Cyrl 500';
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.composition_wrap_content_elements_m4_icon_subname {
  text-align: center;
  font-size: 12px;
  font-family: 'Museo Sans Cyrl 300';
}

.composition_wrap_content_elements_m5 {
  margin: -55px 40px 0 auto;
  margin-left: 236px;
  width: 74px;
  height: 74px;
}

.composition_wrap_content_elements_m5_text {
  display: none;
}

.composition_wrap_content_elements_m5_icon {
  width: 100%;
  height: 100%;
  border: 1px solid #dff1fd;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  line-height: 19.2px;
}

.composition_wrap_content_elements_m5_icon:hover {
  border: 1px solid #00a0df;
}

.composition_wrap_content_elements_m5_icon_name {
  margin-top: 15px;
  font-size: 24px;
  font-family: 'Museo Sans Cyrl 500';
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.composition_wrap_content_elements_m5_icon_subname {
  text-align: center;
  font-size: 12px;
  font-family: 'Museo Sans Cyrl 300';
}

.normalize {
  position: relative;
  padding: 103px;
  min-height: 757px;
  color: #fff;
}

.normalize_img {
  position: absolute;
  z-index: -1;
  max-height: 757px;
  width: 100%;
  left: 0;
  object-fit: cover;
}

.normalize .container {
  padding: 0 15px;
}

.normalize_numeric_title {
  padding-top: 70px;
  padding-left: 256px;
  margin-bottom: 75px;
  position: relative;
}

.normalize_numeric_title span {
  border: 1px solid #fff;
  -webkit-text-stroke: 1px #fff;
  position: absolute;
  left: 0;
  top: calc(100% - 200px);
  width: 206px;
  height: 206px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 66px;
  font-family: 'Montserrat Alternates';
  color: rgba(0, 0, 0, 0);
}

.normalize_numeric_title h2 {
  max-width: 660px;
  font-size: 60px;
  font-family: 'Montserrat Alternates';
  line-height: 70px;
}

.normalize .row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.normalize_right_text {
  max-width: 500px;
  margin-bottom: 16px;
  line-height: 28px;
  margin-bottom: 16px;
  color: #fff;
}

.normalize_left {
  margin-left: 200px;
}

.normalize_left_text {
  max-width: 500px;
  line-height: 28px;
}

.normalize_left_list {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.normalize_left_list li {
  list-style: none;
  line-height: 24px;
  padding-left: 24px;
  position: relative;
  margin-bottom: 24px;
  max-width: 476px;
}

.normalize_left_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid;
  background: rgba(0, 0, 0, 0);
}

.structure {
  margin-top: -20px;
  position: relative;
  padding-bottom: 100px;
}

.structure .container {
  padding: 0 80px;
}

.structure_numeric_title {
  position: relative;
  padding-left: 256px;
  margin-bottom: 75px;
}

.structure_numeric_title span {
  border: 1px solid #00a0df;
  -webkit-text-stroke: 1px #00a0df;
  position: absolute;
  width: 206px;
  height: 206px;
  border-radius: 50%;
  left: 30px;
  top: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 66px;
  line-height: 1.5;
  font-family: 'Montserrat Alternates';
  color: rgba(0, 0, 0, 0);
}

.structure_numeric_title h2 {
  margin-left: 20px;
  margin-bottom: 37px;
  font-size: 60px;
  color: #002856;
  font-family: 'Montserrat Alternates';
}

.structure_content {
  display: flex;
  justify-content: space-between;
  padding-left: 256px;
  position: relative;
}

.structure_content_right {
  width: 467px;
}

.structure_content_right p {
  padding-left: 20px;
  margin-bottom: 28px;
  line-height: 28px;
}

.structure_content_left {
  width: 467px;
  position: relative;
}

.structure_content_left p {
  margin-bottom: 28px;
  line-height: 28px;
}

.structure_content_left_tap {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -860px;
  top: 130px;
}

.structure_content_left_tap img {
  margin-bottom: 30px;
  width: 144px;
  height: 124px;
}

.structure_content_left_tap span {
  font-size: 50px;
  line-height: 20px;
  color: #00a0df;
  -webkit-text-stroke: 1px #00a0df;
  font-family: 'Montserrat Alternates';
}

.structure_content_left_drops {
  display: flex;
  flex-direction: column;
}

.structure_content_left_drops img {
  width: 102px;
  height: 125px;
  margin-bottom: 30px;
}

.structure_content_left_drops span {
  font-size: 50px;
  line-height: 20px;
  -webkit-text-stroke: 1px #00a0df;
  font-family: 'Montserrat Alternates';
  color: rgba(0, 0, 0, 0);
}

.structure_content_left a {
  display: block;
  width: 210px;
  height: 210px;
  text-align: center;
  position: absolute;
  left: 250px;
  z-index: 5;
  top: 160px;
  margin-top: -56px;
}

.structure_content_left a span {
  color: #002856;
  position: absolute;
  top: 90px;
  left: 55px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Museo Sans Cyrl 300';
}

.structure_content_left a::before {
  content: "";
  display: block;
  width: 210px;
  height: 210px;
  background: url("../img/main_page/btn_wave_dark.svg") no-repeat;
}

.quality {
  color: #fff;
  padding: 130px 0;
  position: relative;
}

.quality_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.quality .container {
  padding: 0 80px;
}

.quality .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
}

.quality_title {
  width: 1280px;
  margin-top: 75px;
}

.quality_title h2 {
  margin-bottom: 33px;
  color: #fff;
  font-size: 60px;
  font-family: 'Montserrat Alternates';
}

.quality_title p {
  margin-bottom: 30px;
}

.quality .country {
  display: flex;
  justify-content: space-between;
}

.quality .country p {
  width: 200px;
  padding-left: 24px;
  position: relative;
  margin-bottom: 24px;
}

.quality .country p::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 7.2px;
}

.quality_kz1 {
  width: 297px;
  margin-right: 30px;
}

.quality_kz1 p {
  width: 200px;
}

.quality_kz1_map {
  background: url("https://turanwater.com/assets/img/map_kz.svg") no-repeat 50%/contain;
  width: 185px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.quality_kz2 {
  margin-right: 30px;
  width: 297px;
}

.quality_kz2 p {
  width: 200px;
}

.quality_kz2_map {
  background: url("https://turanwater.com/assets/img/map_kz.svg") no-repeat 50%/contain;
  width: 185px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.quality_uk {
  margin-right: 30px;
  width: 297px;
}

.quality_uk p {
  width: 200px;
}

.quality_uk_map {
  background: url("https://turanwater.com/assets/img/map_ua.svg") no-repeat 50%/contain;
  width: 155px;
  height: 105px;
  padding: 0 0 25px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.quality_ger {
  width: 297px;
}

.quality_ger p {
  width: 200px;
}

.quality_ger_map {
  background: url("https://turanwater.com/assets/img/map_de.svg") no-repeat 50%/contain;
  width: 91px;
  height: 123px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.advantages {
  position: relative;
  z-index: 3;
}

.advantages .container {
  padding: 0 80px;
}

.advantages_wrap {
  position: relative;
  padding: 111px 0 111px 295px;
}

.advantages_wrap::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  right: calc(100% - 110px);
  top: 10px;
  background: #dff1fd;
}

.advantages_wrap img {
  position: absolute;
  max-width: 281px;
  object-fit: contain;
  left: -35px;
  top: 80px;
}

.advantages_wrap h2 {
  margin-bottom: 45px;
  max-width: 600px;
  font-size: 60px;
  color: #002856;
  font-family: 'Montserrat Alternates';
}

.advantages_wrap p {
  margin-bottom: 35px;
}

footer {
  background: #dff1fd;
  padding: 48px 0 32px 0;
}

footer .container {
  margin: 0 65px;
  padding: 0 15px;
}

footer .container .row {
  display: flex;
}

footer .container .row_logo {
  width: 327px;
  padding: 0 15px;
}

footer .container .row_product {
  width: 327px;
  padding: 0 15px;
}

footer .container .row_product_list {
  list-style: none;
}

footer .container .row_product_list li {
  margin-bottom: 20.8px;
}

footer .container .row_product_list li a {
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 500',sans-serif;
  color: #182438;
  font-size: 14px;
  letter-spacing: -0.24px;
}

footer .container .row_product_socials {
  margin-left: 40px;
}

footer .container .row_product_socials a img {
  height: 22px;
  width: 22px;
}

footer .container .row_product_socials a:first-child {
  margin-right: 30px;
}

footer .container .row_main_office {
  width: 327px;
  padding: 0 15px;
  position: relative;
}

footer .container .row_main_office p {
  font-family: 'Museo Sans Cyrl 500';
}

footer .container .row_main_office ul {
  padding-left: 28px;
  position: relative;
  list-style: none;
}

footer .container .row_main_office ul li {
  margin-bottom: 10px;
}

footer .container .row_main_office ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #002856;
  font-family: 'Museo Sans Cyrl 300';
}

footer .container .row_main_office ul li:first-child a {
  color: #00a0df;
}

footer .container .row_main_office ul li:first-child::before {
  position: absolute;
  content: "";
  background: url("https://turanwater.com/assets/img/phone.svg") no-repeat 0/contain;
  width: 18px;
  height: 18px;
  left: 0;
}

footer .container .row_main_office ul li:last-child::before {
  position: absolute;
  content: "";
  background: url("https://turanwater.com/assets/img/email.svg") no-repeat 0/contain;
  width: 18px;
  height: 18px;
  left: 0;
}

footer .container .row_office {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 14px;
  padding: 0 15px;
}

footer .container .row_office_title {
  font-family: 'Museo Sans Cyrl 500';
  margin-bottom: 21px;
  letter-spacing: -0.24px;
}

footer .container .row_office_contact {
  list-style: none;
  margin-bottom: 32px;
  position: relative;
  padding-left: 28px;
}

footer .container .row_office_contact li {
  margin-bottom: 20px;
}

footer .container .row_office_contact li a {
  text-decoration: none;
  color: #00a0df;
}

footer .container .row_office_contact li a::before {
  position: absolute;
  content: "";
  left: 0;
  background: url("https://turanwater.com/assets/img/phone.svg") no-repeat 0/contain;
  width: 18px;
  height: 18px;
}

footer .container .row_office_contact li:last-child a {
  color: black;
}

footer .container .row_office_contact li:last-child a::before {
  background: url("https://turanwater.com/assets/img/email.svg") no-repeat 0/contain;
}

footer .container .row_office_second_title {
  margin-bottom: 21px;
  font-family: 'Museo Sans Cyrl 500';
  letter-spacing: -0.24px;
}

footer .container .row_office_second_contact {
  padding-left: 28px;
  position: relative;
  list-style: none;
}

footer .container .row_office_second_contact li {
  margin-bottom: 21px;
}

footer .container .row_office_second_contact li a {
  text-decoration: none;
  font-size: 14px;
  color: #002856;
  font-family: 'Museo Sans Cyrl 300';
}

footer .container .row_office_second_contact li:first-child a {
  color: #00a0df;
}

footer .container .row_office_second_contact li:first-child::before {
  position: absolute;
  content: "";
  background: url("https://turanwater.com/assets/img/phone.svg") no-repeat 0/contain;
  width: 18px;
  height: 18px;
  left: 0;
}

footer .container .row_office_second_contact li:last-child::before {
  position: absolute;
  content: "";
  background: url("https://turanwater.com/assets/img/email.svg") no-repeat 0/contain;
  width: 18px;
  height: 18px;
  left: 0;
}
